<StackLayout>
    <Label text="Email address"></Label>
    <TextField [(ngModel)]="user.email" class="input" autocorrect="false" returnKeyType="next" autocapitalizationType="none"
        (blur)="validateEmail()" keyboardType="email" [editable]="!isSaving">
    </TextField>
    <Label *ngIf="emailEmpty" text="Please enter your email address" color="red"></Label>

    <Label text="Username" marginTop="20"></Label>
    <TextField [(ngModel)]="user.username" class="input" autocorrect="false" returnKeyType="next" autocapitalizationType="none"
        (blur)="validateUsername()" [editable]="!isSaving"></TextField>
    <Label *ngIf="usernameEmpty" text="Please enter your username" color="red"></Label>

    <Label text="Password" marginTop="20"></Label>
    <TextField [(ngModel)]="user.password" class="input" autocorrect="false" returnKeyType="next" autocapitalizationType="none"
        secure="true" (blur)="validatePassword()" [editable]="!isSaving">
    </TextField>
    <Label *ngIf="passwordEmpty" text="Please enter your password" color="red"></Label>

    <Label text="PIN" marginTop="20"></Label>
    <TextField [(ngModel)]="user.pin" class="input" autocorrect="false" returnKeyType="go" autocapitalizationType="none"
        secure="true" (blur)="validatePin()" (returnPress)="continue()" keyboardType="phone" [editable]="!isSaving">
    </TextField>
    <Label *ngIf="pinEmpty" text="Please enter your PIN" color="red"></Label>
</StackLayout>