<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Spend2Earn"></Label>
        </StackLayout>
        <ScrollView row="1">
            <Menu></Menu>
        </ScrollView>
    </GridLayout>
    <FlexboxLayout tkMainContent flexDirection="column">
        <Label text="Terminal" class="header"></Label>
        <ListPicker [items]="listItems | async" selectedIndex="0" flexGrow="1" flexShrink="1"
            style="color: black; height: 50" [(ngModel)]="selectedIndex" [isUserInteractionEnabled]="!awaitingPayment"
            [isEnabled]="!awaitingPayment" [ngClass]="{disabled: awaitingPayment}"></ListPicker>
        <FlexboxLayout margin="0 20">
            <Label [text]="bankAccounts && bankAccounts.length ? bankAccounts[selectedIndex].currency : ''"></Label>
            <TextField marginLeft="20" flexGrow="1" class="input" editable="false" [ngModel]="amount"></TextField>
            <ActivityIndicator *ngIf="awaitingPayment" marginLeft="20" busy="true" color="lightseagreen">
            </ActivityIndicator>
        </FlexboxLayout>
        <GridLayout columns="*,*,*" rows="auto,auto,auto,auto,auto" margin="10">
            <Button *ngFor="let symbol of ['1','2','3','4','5','6','7','8','9','.','0']; let i = index" [text]="symbol"
                [row]="floor(i/3)" [col]="i%3" (tap)="input(symbol)" [isEnabled]="isSymbolEnabled(symbol)" ƒ
                [ngClass]="{disabled: !isSymbolEnabled(symbol)}">
            </Button>

            <Button text="Request" row="3" col="2" class="green" rowSpan="2" (tap)="enter()"
                [isEnabled]="!awaitingPayment && isAmountValid()"
                [ngClass]="{disabled: awaitingPayment || !isAmountValid()}"></Button>
            <Button [text]="awaitingPayment ? 'Cancel' : 'Clear'" row="4" col="0" class="red" (tap)="cancel()"
                [isEnabled]="amount.length" [ngClass]="{disabled: !amount.length}"></Button>
            <Button text="Delete" row="4" col="1" class="yellow" (tap)="clear()"
                [isEnabled]="!awaitingPayment && amount.length"
                [ngClass]="{disabled: awaitingPayment || !amount.length}"></Button>
        </GridLayout>
    </FlexboxLayout>
</RadSideDrawer>