<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Spend2Earn"></Label>
        </StackLayout>
        <ScrollView row="1">
            <Menu></Menu>
        </ScrollView>
    </GridLayout>

    <StackLayout style="vertical-align: center; padding: 0 30; text-align: center" tkMainContent>
        <Logo size="55" style="position: relative; top: 1;"></Logo>
        <Label text="Welcome back {{user}}!" style="font-size: 25; margin: 30 0 120"></Label>
        
        
        <RadCartesianChart tkExampleTitle tkToggleNavButton>
            <SplineAreaSeries tkCartesianSeries seriesName="Area" [items]="data" categoryProperty="Month" valueProperty="ThirdVal"></SplineAreaSeries>
    
            <Palette tkCartesianPalette seriesName="Area">
                <PaletteEntry tkCartesianPaletteEntry fillColor="#97DDD6" strokeColor="#64C8C0" strokeWidth="8"></PaletteEntry>
            </Palette>
        
            <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
            <LinearAxis tkCartesianVerticalAxis></LinearAxis>
        </RadCartesianChart>
        
    </StackLayout>
    
</RadSideDrawer>