/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

* {
    font-family: Nunito-Regular, Nunito;
}

.ns-root, .ns-modal {
    --brand: lightseagreen;
}

ActionBar {
    background-color:  white;
    color: rgb(32, 178, 170);
}

.btn {
    border-radius: 5;
    color: white;
    font-size: 20;
    padding: 20;
}

.link {
    text-decoration: underline;
}

.input {
    background: white;
    border-color: silver;
    border-width: 1;
    padding: 10;
}

.text-red { color: #EE6352; }
.text-yellow { color: #FAC05E; }
.text-green { color: #59CD90; }
.text-white { color: white; }
.text-brand, .link, ActionBar { color: var(--brand); }

.bg-red { background: #EE6352; }
.bg-yellow { background: #FAC05E; }
.bg-green { background: #59CD90; }
.bg-brand, .btn { background: var(--brand); }
.bg-silver { background: silver; }
.bg-white { background: white; }

.rounded-corners, .input { border-radius: 5 }

.border-brand { border-color: var(--brand); }
.border-silver { border-color: silver; }

.heading {
    font-size: 25;
    margin-bottom: 20;
    border-bottom-width: 1;
    padding-bottom: 5;
    font-weight: bold;
    border-color: var(--brand);
}

.m { margin: 20; }
.m-t { margin-top: 20; }
.m-r { margin-right: 20; }
.m-b { margin-bottom: 20; }
.m-l { margin-left: 20; }

.p { padding: 20; }
.p-t { padding-top: 20; }
.p-r { padding-right: 20; }
.p-b { padding-bottom: 20; }
.p-l { padding-left: 20; }

.t-center { text-align: center; }

.f-bold { font-weight: bold; }

.f-big { font-size: 25; }

.sideStackLayout {
    background-color: rgb(253, 251, 250);
}

.sideTitleStackLayout {
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}
