<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Spend2Earn"></Label>
        </StackLayout>
        <ScrollView row="1">
            <Menu></Menu>
        </ScrollView>
    </GridLayout>

    <DockLayout tkMainContent>
        <Label dock="top" text="History" class="header"></Label>
        <ScrollView>
            <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
            <StackLayout *ngIf="!isLoading" class="p-t p-b">
                <SegmentedBar [items]="views" selectedIndex="0" selectedBackgroundColor="lightseagreen"
                    (selectedIndexChange)="onSelectedIndexChange($event)" class="m-l m-r m-b">
                </SegmentedBar>
                <StackLayout orientation="horizontal" *ngFor="let transaction of filteredTransactions" class="p-l p-r"
                    style="margin: 0 0 10; height: 50; background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 59%, {{transaction.color}} 100%);">
                    <StackLayout orientation="vertical">
                        <Label text="{{transaction.source_iban}}"></Label>
                        <Label text="{{transaction.destination_iban}}"></Label>
                    </StackLayout>
                    <StackLayout
                        style="position: relative; right: 10px; vertical-align: middle; text-align:right; width: 100%;"
                        orientation="vertical">
                        <Label text="{{transaction.amount}} {{transaction.currency.toUpperCase()}}"></Label>
                        <Label text="saved {{transaction.savings}} {{transaction.currency.toUpperCase()}}"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </DockLayout>

</RadSideDrawer>