<FlexboxLayout flexDirection="column" padding="30">
    <Logo size="100"></Logo>
    <StackLayout verticalAlignment="center" flexGrow="1">
        <FormField label="Email" [(value)]="email" className="m-b" [validator]="validateFieldNotEmpty"></FormField>
        <FormField label="Password" secure="true" [(value)]="password" className="m-b"
            [validator]="validateFieldNotEmpty"></FormField>
    </StackLayout>
    <LoadingButton text="Log In" [isLoading]="isLoggingIn" (tap)="logIn()"></LoadingButton>
</FlexboxLayout>