<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Spend2Earn"></Label>
        </StackLayout>
        <ScrollView row="1">
            <Menu></Menu>
        </ScrollView>
    </GridLayout>

    <DockLayout tkMainContent>
        <Label dock="top" text="Finances" class="header"></Label>
        <ScrollView>
            <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
            <BankAccounts *ngIf="!isLoading" class="p" [(bankAccounts)]="bankAccounts"></BankAccounts>
        </ScrollView>
    </DockLayout>

</RadSideDrawer>