<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <Menu></Menu>
        </ScrollView>
    </GridLayout>

    <ScrollView tkMainContent>
        <StackLayout class="p">
                <Label text="Finances" class="heading"></Label>
                <BankAccounts [(bankAccounts)]="bankAccounts"></BankAccounts>
        </StackLayout>
    </ScrollView>
    
</RadSideDrawer>