<GridLayout [width]="size" [height]="size">
    <Label
        [borderRadius]="size/2"
        [height]="size"
        [width]="size"
    ></Label>
    <Label
        [borderRadius]="size*.85/2"
        [height]="size*.85"
        [width]="size*.85"
    ></Label>
    <Label
        [borderRadius]="size*.5/2"
        [height]="size*.5"
        [width]="size*.5"
    ></Label>
    <Label
        [borderRadius]="size*.5/2"
        [height]="size*.25"
        [width]="size*.25"
    ></Label>
</GridLayout>