.sideStackLayout {
    background-color: rgb(253, 251, 250);
}

.sideTitleStackLayout {
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}