<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Spend2Earn"></Label>
        </StackLayout>
        <ScrollView row="1">
            <Menu></Menu>
        </ScrollView>
    </GridLayout>

    <DockLayout tkMainContent>
        <Label dock="top" text="Profile" class="header"></Label>
        <ScrollView>
            <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
            <PersonalDetails *ngIf="!isLoading" [(user)]="user" class="p"></PersonalDetails>
        </ScrollView>
    </DockLayout>
    
</RadSideDrawer>

