<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <Menu></Menu>
        </ScrollView>
    </GridLayout>

    <StackLayout class="p" tkMainContent>
        <Label text="Profile" class="heading"></Label>
        <PersonalDetails [(user)]="user"></PersonalDetails>
    </StackLayout>
    
</RadSideDrawer>

