<ScrollView>
    <DockLayout margin="20">
        <StackLayout dock="top" marginBottom="20">
            <Logo size="100" style="margin-bottom: 30"></Logo>
            <Stepper [step]="step"></Stepper>
        </StackLayout>
        <StackLayout dock="bottom">
            <LoadingButton text="Continue" [isLoading]="isSaving" (tap)="continue()" style="flex-shrink: 0; margin-top: 20">
            </LoadingButton>
        </StackLayout>
        <Label *ngIf="step === 1" text="step1"></Label>
        <Label *ngIf="step === 2" text="step2"></Label>
    </DockLayout>
</ScrollView>