<StackLayout>
    <DockLayout stretchLastChild="false">
        <Label dock="left" [text]="bankAccounts.length + ' Accounts'" class="title"></Label>
        <AddButton dock="right" text="Add New" (tap)="openBankAccountForm()"></AddButton>
    </DockLayout>
    <StackLayout *ngFor="let bankAccount of bankAccounts; let bankAccountIndex = index" class="border-radius bank-account">
        <DockLayout stretchLastChild="false">
            <Label dock="left" [text]="bankAccount.alias" class="title"></Label>
            <AddButton dock="right" text="Remove" delete="true" (tap)="removeBankAccount(bankAccountIndex)"></AddButton>
        </DockLayout>

        <Label text="IBAN"></Label>
        <Label [text]="bankAccount.number"></Label>

        <Label text="Owner"></Label>
        <Label [text]="bankAccount.accountOwner"></Label>

        <DockLayout stretchLastChild="false">
            <Label [text]="bankAccount.cards.length + ' Cards'" class="title"></Label>
            <AddButton dock="right" text="Add New" (tap)="openCardForm(bankAccount)"></AddButton>
        </DockLayout>
        <StackLayout *ngFor="let card of bankAccount.cards; let cardIndex = index" class="border-radius card">
            <DockLayout stretchLastChild="false">
                <Label dock="left" text="CARD NAME" class="title"></Label>
                <AddButton dock="right" text="Remove" delete="true" (tap)="removeCard(bankAccount, cardIndex)"></AddButton>
            </DockLayout>
            <Label text="Number"></Label>
            <Label [text]="card.number"></Label>
        </StackLayout>
    </StackLayout>
</StackLayout>