<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page">
    <!-- Add your page content here -->
    <ScrollView class="page">
        <StackLayout class="home-panel">
            <Label text="To get money press button: " fontSize="30"></Label>
            <Label text="Your account balance: {{balance}} $" fontSize="20"></Label>
            <Button text="Money button" (tap)="onButtonTap()"></Button>
            <Image src="{{img_src}}" loadMode="async" stretch="aspectFit" class="img"></Image>
        </StackLayout>
    </ScrollView>
</GridLayout>