<StackLayout style="vertical-align: center; padding: 0 30; text-align: center">
    <Label text="S2E" style="height: 150; width: 150; background: lightseagreen; border-radius: 75; color: white; text-align: center; font-size: 60"></Label>
    <Label text="Spend2Earn" style="font-size: 40; margin: 30 0 120"></Label>
    <Button text="Log In"></Button>
    <StackLayout orientation="horizontal" horizontalAlignment="center">
        <Label text="or "></Label>
        <Label text="Register" class="link"></Label>
    </StackLayout>
</StackLayout>