FlexboxLayout {
    border-radius: 5;
    font-size: 20;
    justify-content: center;
    padding: 15;
    border-width: 1;
}

FlexboxLayout.secondary {
    background: white;
}

ActivityIndicator {
    margin-left: 10;
}